
.audio-controls {
  margin-top: 3rem;
}

.seekbar {
  position: relative;
  width: 173px;
  height: 1px;
  background: #e4e4e4;
  margin-bottom: 10px;
}

.seekbar-progress {
  position: absolute;
  height: inherit;
<<<<<<< HEAD
  /* width: 10%; */
=======
  /*width: 10%;*/
>>>>>>> 4189c560851cea81ba1bf23ea28f133583416fa6
  background: #34c0ff;
}
